.a1{
    font-size: 60px; 
    background-color:firebrick;
}

.a2{
    display: inline-block;
    font-size: 60px;
    width: 50%;
    background-color:yellow;
}

.a3{
    float: right;
    font-size: 60px;
    width: 50%;
    background-color:blue;
}

.a4{
    font-size: 60px;
    width: 33%;
    display: inline-block;
    background-color:green;
}
.a5{
    font-size: 60px;
    width: 33%;
    display: inline-block;
    background-color:purple;
}
.a6{ 
    font-size: 60px;
    width: 33%;
    display: inline-block;
    background-color:orange;
}